.viewcard{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-control-prev-icon{
    color: brown !important;
}
.home >.container{
    background-color: rgb(223, 239, 250,0.4);
    border-radius: 30px;
    margin-right: 10px;
    padding-bottom: 40px;
    margin-bottom: 50px;
}

.btn2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
.card-body{
    text-align: start
}


